* {
  box-sizing: border-box;
}

*.icon-white {color: yellow}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: rgb(42,93,95);
  
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  

}

.vertical {
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
 justify-content: center;
 text-align: center;
  width: 13rem;
  
}

.horizontal {
  background-color: rgb(255,255,255);
  display: flex;
}

.rating {
  background-color: rgb(243, 243,243);
  padding-top: 18px;
}

img {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  border: 3px solid rgb(116,186,129);
  margin: 10px auto;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 5px; */
  /* justify-content: space-evenly; */
  /* background-color: rgb(130,206,144); */
}

.call {
  background-color: rgb(130,206,144);
  
  height: 100%;
 padding-top: 15px;
 padding-bottom: 15px;
}

.chat {
  background-color: rgb(116,186,129);
  height: 100%;
  padding-top: 15px;
 padding-bottom: 15px;
  
}

.left {
display: flex;
flex-direction: column;
justify-content: space-between;
}


bg - 42,93,95
call - 130,206,144
chat - 116,186,129
drkgry - 243,243,243
lightgry - 255,255,255

